name: CI Workflow

on:
  pull_request:
  push:
    branches: [ master, main ]

jobs:
  build:
    
    name: Build Application
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Install Deps
        working-directory: site
        run: yarn install

      - name: Running linter
        working-directory: site
        run: yarn run lint

      - name: Running tests
        working-directory: site
        run: yarn run test

      - name: Building Application
        working-directory: site
        run: yarn run build